.countDownContainer {
    display: flex;
    align-items: center;
    font-family: Rajdhani;
    font-weight: 600;
    color: #64035C;
}

.countDownContainer > div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #ccc;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    font-size: 8.5rem;
    text-align: center;
}

.countDownContainer > div span {
    flex: 1;
}

.countDownContainer > div span:first-child {
    border-right: 1px solid #f0f1f3;    
}

.countDownContainer > div span:last-child {
    border-left: 1px solid #f0f1f3;    
}

.countDownContainer > span {
    font-size: 6.25rem;
    margin: 0 0.5rem;
}

.countDownButton {
    width: 100%;
    height: 5rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 5px;
    background: #64035C;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: bold;
    transition: background-color .5s;
}

.countDownButton:hover {
    background: var(--green);
    transition: .5s;
    color: #64035C;
    font-size: 2rem;
}